<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <title><%= title %></title>
    </head>
    <body>
        <div id="cover-container">
            <img id="cover" class="responsive-img" src="/images/cover.png">
        </div>

        <div class="container">

            <div id='nav'>
                <ul id='sitemap'>
                    <li><a href='/'>Home</a></li>
                    <li class="logged-in">
                        <a href="/logout" id="logout">Logout</a>
                    </li>
                    <li class="logged-out">
                        <a href="/auth/linkedin">Login</a>
                    </li>
                </ul>
            </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
